@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    font-variation-settings: 'slnt' 0;
    src: url('/fonts/Inter/InterVF.ttf') format('truetype');
  }
}

html {
  @apply scroll-smooth;
}

div[class^='language-'] {
  @apply max-h-[650px] overflow-x-auto rounded-lg !bg-slate-900;
}

pre {
  @apply py-4;
}

pre code .line {
  @apply inline-block min-h-4 w-full !py-0.5 px-4 text-sm leading-[--vp-code-line-height];
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-md border border-slate-200 bg-slate-50 text-center -indent-px font-mono text-sm font-medium;
    @apply -ml-[50px] -mt-1;
    content: counter(step);
  }
}
