:root {
  --shiki-foreground: #ffffff;
  --shiki-color-background: #ffffff;
  --shiki-token-constant: #ffffff;
  --shiki-token-string: #ffffff;
  --shiki-token-comment: #ffffff;
  --shiki-token-keyword: #ff7b72;
  --shiki-token-parameter: #aa0000;
  --shiki-token-function: #ffffff;
  --shiki-token-string-expression: #73bfff;
  --shiki-token-punctuation: #ffffff;
  --shiki-token-link: #ee0000;
}
